:root{

    --text-color: #000000;
    --header-color: #23856D;
    --user-link-color:#318CE7;
    --paragraph-color:#737373;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.img_container{
    position:relative;
    top:60px;
}

.desktop_img {
   display:flex;
   justify-content: center;
}


.mobile_img {
    display: none;
    
}


.products{
    padding: 80px 0px 80px 0px;
    text-align: center;
}

.products h2 {
   
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    color:var(--paragraph-color);
    margin-top: 10px;
    text-align: center;
}

.products h3{
    
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    margin-top: 10px;
    text-align: center;
}

.products p{
  
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 20px;
    color: var(--paragraph-color);
    margin-top: 10px;
    text-align: center;
}

.feature_div{
    padding:80px 0px 80px 0px;
    gap:80px;
    
}

.feature_header{
    text-align: center;
}

.feature_header > h2{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    color:var(--paragraph-color);
    text-align: center;
}

.feature_header > h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    text-align: center;

}

.feature_header > p{
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 20px;
    color:var(--paragraph-color);
    text-align: center;

}

.img_cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
    text-align: center;
    margin-top: 70px;
}


.card_content > h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    
   
    
}

.card_content > p{
  
font-size: 0.87rem;
font-weight: 400;
line-height: 20px;
margin-top: 30px;
color:var(--paragraph-color)


}
.post_section{
    margin-left: 100px;
    padding: 80px 0px 80px 0px;
}


.post_header{
    text-align: center;
}

.post_header > h6{
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 24px;
    color:var(--user-link-color);
    text-align: center;
}

.post_header > h3{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}
.posts{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    margin-top:30px;
}

.card{
    width:350px;
    height: 550px;
}

.top_link{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 16px;
    color:var(--text-color);
    margin-right:8px;
    margin-left: 20px;
    margin-top: 20px;
}

.card > h4{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.card > p{
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.date{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}

.date > p{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 16px;
}

.clock_icon{
    color: var(--user-link-color);
}

.chart_icon{
    color:var(--header-color)
}

.learn_more{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 24px;
    padding-top: 50px;
    margin-left: 20px;
    
}

.cta{
    padding:80px 0px 80px 0px;
}


.cta_relative{
    position:relative;
  

}

.desktop_cta{
    width:1348px;
    height:600px;
}

.mobile_cta{
    display:none;
}

.cta_absolute{
    position: absolute;
    top:30%;
    left:30%;
    text-align: center;
}

.cta_textheader{
    font-size:0.87rem ;
    font-weight:700 ;
    line-height: 24px;
    color:var(--user-link-color);
    text-align: center;
}

.cta_texttitle{
    font-size:2.5rem ;
    font-weight:700 ;
    line-height: 50px;
    margin-top: 15px;
    text-align: center;
}

.cta_absolute > p{
    font-size:0.87rem ;
    font-weight:400 ;
    line-height: 20px;
    color:var(--paragraph-color);
    margin-top: 20px;
}

.cta_absolute > h5{
    font-size:1.5rem ;
    font-weight:700 ;
    line-height: 32px;
    color:var(--header-color);
    margin-top: 20px;
}

.cta_btn{
    padding:15px 40px 15px 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--user-link-color);
}

.testimonials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user_testimonial{
    text-align: center;
}

.user{
    margin-top: 60px;
    

}

.rating{
    margin-top: 10px;
}


.testimonial_header{
font-size: 1.5rem;
font-weight: 700;
line-height: 32px;
margin-top: 20px;


}

.testimonial_body{
font-size: 0.87rem;
font-weight: 700;
line-height: 24px;
color: var(--paragraph-color);
margin-top: 20px;

}

.user_link{
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 24px;
    color: var(--user-link-color);
    padding-top: 30px;
    
    
    }

.user_profession{
font-size: 0.87rem;
font-weight: 700;
line-height: 24px;
margin-top: 5px;


}

@media(max-width:768px){

    .img_container{
        top:100px;
    }



    .desktop_img{
        display: none;
    }

    .mobile_img{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 100px;
       
    }

   
    .img_cards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:30px;
        text-align: center;
        margin-top: 70px;
    }



    .posts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:50px;
        align-items: center;
        margin-top:30px;
        margin-right:80px;
    }

    .card{
        
        width:300px;
        height: 500px;
    }

    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .users_img{
    padding: 80px 0px 80px 0px;
    }

    .cta{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin-right: 150px;
    }

    .desktop_cta{
       display:none;
    }

    .mobile_cta{

        display: block;
        width:630px;
        height: 712px;
      
    }

    .cta_absolute{
        position: absolute;
        
    }
}

