:root{
    --text-color: #000;
    --btn-color:#318CE7;
    --bottom-color:#f0f0f0;
    --paragraph-color:#737373;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.top_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bottom-color);
    padding-top:20px;
    padding-bottom: 20px;
}

.logo{
    margin-left: 8rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.social{
    margin-right:15rem;
}

.social_btn{
    color:var(--btn-color);
    margin-right: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 100px;
    padding-bottom: 50px;
    
    
    
}

.flex_one{
    display: flex;
    
    
}

.company_info{
    display: flex;
    flex-direction: column;
}

.company_info > a{
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 0.87rem;
    font-weight: 700;
   line-height: 24px;
}

.legal{
    display: flex;
    flex-direction: column;
    margin-left:50px;
}

.legal > a{
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 0.87rem;
    font-weight: 700;
   line-height: 24px;
}

.flex_two{
    display: flex;
    
    
}

.features{
    display: flex;
    flex-direction: column;
}

.features > a{
    text-decoration: none;
    color: var(--paragraph-color);
  font-size: 0.87rem;
  font-weight: 700;
 line-height: 24px;


}

.resources{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.resources > a{
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 0.87rem;
    font-weight: 700;
   line-height: 24px;
}

.link_header{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
   font-size: 1rem;
  font-weight: 700;
 line-height: 24px;


}

input{
    padding:11px 10px;
    border: 1px solid var(--paragraph-color);
    border-radius: 5px 0px 0px 5px;

}

input:focus{
    outline: none;
   
}

button{
    padding:12px 10px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    background-color: var(--btn-color);
    color:#fff;


}

.bottom_text{
    background-color:var(--bottom-color);
    padding-top: 30px ;
    padding-bottom: 30px;
    
}

.footer_note{
    margin-left: 8rem;
font-size: 0.87rem;
font-weight: 700;
line-height: 24px;
color:var(--paragraph-color)


  
}


@media (max-width: 768px) {

    .top_footer{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-right: auto;
    }


    .social{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 15px;
        margin-left: 20px;
        
    }

    .footer{
        flex-direction: column;
        gap:30px;
    }

    .flex_one{
        flex-direction: column;
        gap: 30px;
    }

    .flex_two{
        flex-direction: column;
        gap: 30px;
    }

    .legal{
        margin-right: auto;
    }

    .resources{
        margin-right: auto;
    }

    .company_info{
        margin-left: 50px;
    }

    .features{
        margin-left: 50px;
    }

    .contact{
        margin-left: 50px;
    }

    input{
      
        padding:15px 15px;
    }

    button{
        padding:16px 15px;
        
       
    
    
    }

    .footer_note{
      text-align: center;
    }
    
}

