.product_img{
    width: 183px;
    height: 400px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

.product_img > img{
     width: 183px;
     height:238px;
} 

.product_details{
    text-align: center;
}

